@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.bg-red-color {
    background-color: #fdb5b5;
}

.left-side {
    /* border: 2px solid black; */
    padding: 50px 50px 300px 50px;
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.right-side {
    height: 100vh;
    border: 2px solid black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* padding: 50px 50px 50px 50px; */
}

#title {
    font-weight: 700;
    font-size: 4rem;
}

.text-block {
    font-size: 16px;
}